<article class="media">
  <div class="media-content">
    <%= form_with model: [ @article, @article.comments.build ] do |form| %>
      <div class="field">
        <p class="control">
          <%= form.text_area :body, :class => "textarea", :placeholder => "Comment" %>
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
            <div class="label spaced">
              <%= form.label :status, :class => "title is-6 is-centered" %>
            </div>
            <div class="select">
              <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
            </div>
        </div>
        <div class="level-right">
          <div class='field has-text-centered'>
            <div class='control'>
              <%= form.submit "Add comment", :class => 'button is-link'%>
            </div>
          </div>
        </div>
      </nav>
    <% end %>
  </div>
</article>