<div class="block box">
  <div class="media">
    <div class="media-content has-text-centered">
      <%= link_to article.title, article, :class => 'title article-title' %>
      <div class="tags has-addons level-item level-right">
        <span class="tag is-rounded"><%= link_to Category.find(article.category_id).name, category_path(article.category_id) %></span>
        <span class="tag is-rounded is-info">posted at</span>
        <span class="tag is-rounded"><%= article.created_at.strftime('%d.%m.%Y %H:%M') %></span>
      </div>
    </div>
  </div>
  <div class="content article-body">
    <p><%= article.body.split(' ')[0,80].inject{|sum,word| sum + ' ' + word} + (article.body.split.size > 80 ? '...' : '') %></p>
  </div>
  <% article.tags.any? %>
    <% article.tags.each do |tag| %>
    <%= link_to tag.name, tagged_url(:tag => tag.name), :class => 'tag' %>
  <% end %>
</div>