<div class="section is-medium">
  <div class="container is-max-widescreen">
    <div class='article'>
      <h1 class="title is-2 is-spaced"><%= @article.title %></h1>
      <h2 class="subtitle is-5">
        <%= simple_format(@article.body) %>
      </h2>
      <div class="buttons level-right">
        <%= link_to "Edit", edit_article_path(@article), :class => "button is-warning is-small" %>
        <%= link_to "Destroy", article_path(@article),
                      method: :delete,
                      data: { confirm: "Are you sure?" },
                      :class => "button is-danger is-small"  %>
      </div>
    </div>
  </div>
  <div class="container is-max-desktop">
    <div class='block'>
      <h1 class='title is-4'>Comments</h2>
      <%= render @article.comments %>
    </div>
    <h1 class='title is-5'>Add a comment:</h2>
    <%= render 'comments/form' %>
  </div>
</div>