<div class="section is-medium">
  <div class="container is-max-widescreen">
    <div class='article'>
      <h1 class="title is-2 is-spaced"><%= @article.title %></h1>
      <div class="field is-grouped is-grouped-multiline">
        <div class="control">
          <span class="tag is-link is-medium"><%= link_to Category.find(@article.category_id).name, category_path(@article.category_id) %></span>
        </div>
        <div class="control">
          <div class="tags has-addons are-medium">
            <span class="tag">Posted at</span>
            <span class="tag is-link"><%= @article.created_at.strftime('%d.%m.%Y %H:%M') %></span>
          </div>
        </div>
        <div class="control">
          <div class="tags has-addons are-medium">
            <span class="tag">Author</span>
            <span class="tag is-link"><%= @article.user.try(:username) %></span>
          </div>
        </div>
      </div>
      <h2 class="subtitle is-5">
        <%= simple_format(@article.body) %>
      </h2>
      <div class="buttons level-right">
        <%= link_to "Edit", edit_article_path(@article), :class => "button is-warning is-small" %>
        <%= link_to "Destroy", article_path(@article),
                      method: :delete,
                      data: { confirm: "Are you sure?" },
                      :class => "button is-danger is-small"  %>
      </div>
    </div>
  </div>
  <div class="container is-max-desktop">
    <div class='block'>
      <h1 class='title is-4'>Comments</h2>
      <%= render @article.comments %>
    </div>
    <h1 class='title is-5'>Add a comment:</h2>
    <%= render 'comments/form' %>
  </div>
</div>