<div class="section is-medium">
  <div class="container is-max-widescreen">
    <div class='article'>
      <h1 class="title is-2 is-spaced"><%= @category.name %></h1>
      <h2 class="subtitle is-5">
        <%= simple_format(@category.desc) %>
      </h2>
      <div class="buttons level-right">
        <%= link_to "Edit", edit_category_path(@category), :class => "button is-warning is-small" %>
        <%= link_to "Destroy", article_path(@category),
                      method: :delete,
                      data: { confirm: "Are you sure?" },
                      :class => "button is-danger is-small"  %>
        <%= link_to 'Back', categories_path, :class => "button is-link is-small" %>
      </div>
    </div>
  </div>
  <div class="container is-max-desktop">
    <h1 class='title is-4'>Articles</h2>
    <%= render @articles %>
    <div class='block'>
      <%= will_paginate @articles, renderer: @custom_paginate_renderer %>
    </div>
  </div>
</div>