<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='hero is-link no-overflow is-fullheight'>
    <div class='hero'>
      <%= image_tag("hero-bg.jpg", :class => "hero-background is-transparent", :alt => "Things on table") %>
      <%= render "layouts/navbar" %>
    </div>
    <% unless notice.nil? %>
      <div class="notification is-link">
        <button class="delete"></button>
        <p id="notice"><%= notice %></p>
      </div>
    <% end %>
    <% unless alert.nil? %>
      <div class="notification is-danger">
        <button class="delete"></button>
        <p id="alert"><%= alert %></p>
      </div>
    <% end %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
